#login-container {
  max-height: 300px;
  /* watch std-container in application.css */
}

#login-form-container {
  /* watch form-container in application.css */
}

#login-errors-container {
  /* watch errors-container in application.css */
}

#user-container {
  position: relative;
  width: 90%;
  height: 550px; /* TODO media query */
  margin: 5px auto;
  border: 1px solid rgba(0, 0, 0, 0.25);
}


/* -------------------------------------------------------------------------- */
#contacts {
  position: absolute;
  width: 20%;
  height: inherit;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

#contacts-header {
  font-size: 2em;
}

#recent {
  height: 33%;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

#friends {
  height: 33%;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

/* -------------------------------------------------------------------------- */

#search {
  height: 33%;
  padding-left: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

#search-input {
  padding-top: 3px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

#search-type {
  float: left;
  max-width: 90px;
  padding: 0px 5px; /* TODO DRY destruction-type destruction-conditions*/
  height: 2em;
  margin-right: 5px;
}

#search-query {
  width: calc(100% - 100px);
  padding: 0px 5px; /* TODO DRY destruction-type destruction-conditions*/
  height: 2em;
}

#search-result {
  height: calc(100% - 4em); /* TODO */
  padding: 0px 5px;
  overflow-y: auto;
}

.found-user {
  margin-top: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#conversations {
  margin-left: 22%;
  margin-right: 27%;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  height: inherit;
}

#conversations-tabs {

}

.conversations-tab {
  
}

.conversations-messages {
  height: 350px; /* TODO media query */
  overflow-y: auto;
  border: 1px solid rgba(255, 0, 0, 0.5);
}

.sent-message {
  margin-left: 20%;
  text-align: right;
}

.received-message {
  margin-right: 20%;
  text-align: left;
}


/* -------------------------------------------------------------------------- */

#message-input {
  height: 110px;
  padding-left: 5px;
  padding-right: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

#message-destruction-input {
  float: left;
  max-width: 170px;
}

#destruction-type {
  padding-right: 5px;
  padding-bottom: 0px;
  padding-top: 0px;
  height: 2em;
}

#destruction-condition {
  padding-right: 5px;
  padding-bottom: 0px;
  padding-top: 0px;
  height: 2em;
}

#message-text-input {
  height: inherit;
  text-align: center;
}

.message-text-input-tip {
  color: #337ab7;
}

#message-text {
  float: left;
  height: calc(100% - 2em); /* TODO fallback */
  width: calc(100% - 175px);
  margin-left: 5px;
}

/* -------------------------------------------------------------------------- */

#notifications {
  position: absolute;
  width: 25%;
  top: 0px;
  right: 0px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

#user-info-container {
  padding: 5px;
}

.user-attribute {
  height: 2em;
  width: 45px;
  float: left;
}

.user-attribute-value {
  height: 2em;
  width: calc(100% - 45px); /*TODO Responsive */
  /*margin-left: 45px;*/
}
