#login-container {
  max-height: 300px;
  /* watch std-container in application.css */
}

#login-form-container {
  /* watch form-container in application.css */
}

#login-errors-container {
  /* watch errors-container in application.css */
}

#user-container {
  position: relative;
  width: 90%;
  margin: 5px auto;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

#recent {
  position: absolute;
  width: 20%;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

#friends {
  position: absolute;
  width: 20%;
  bottom: 0px;
  left: 0px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

#conversations {
  margin-left: 22%;
  margin-right: 27%;
  padding: 5px;
  height: 550px; /* TODO media query */
  border: 1px solid rgba(0, 0, 0, 0.25);
}

#conversations-tabs {
  float:left;
  top: 5px;
  left: 5px;
  background-color: white;
  height: 15%;
}

.messages {
  /*padding: 5px;*/
  clear: both;
  height: 350px; /* TODO media query */
  overflow-y: auto;
}

.sent-message {
  margin-left: 20%;
  text-align: right;
}

.received-message {
  margin-right: 20%;
  text-align: left;
}


/* -------------------------------------------------------------------------- */

#message-input {
  height: 110px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

#message-destruction-input {
  float: left;
  max-width: 170px;
}

#destruction-type {
  padding-right: 5px;
  padding-bottom: 0px;
  padding-top: 0px;
  height: 2em;
}

#destruction-condition {
  padding-right: 5px;
  padding-bottom: 0px;
  padding-top: 0px;
  height: 2em;
}

#message-text-input {
  height: inherit;
  text-align: center;
}

.message-text-input-tip {
  color: #337ab7;
}

#message-text {
  float: left;
  height: calc(100% - 2em); /* TODO fallback */
  width: calc(100% - 175px);
  margin-left: 5px;
}

/* -------------------------------------------------------------------------- */

#notifications {
  position: absolute;
  width: 25%;
  top: 0px;
  right: 0px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

#user-info-container {
  padding: 5px;
}

.user-attribute {
  width: 25%;
  overflow: auto;
  float: left;
}

.user-attribute-value {
  margin-left: 25%;
}
