<div id="signup-container" class="std-container">
  <div id="signup-form-container" class="form-container">
    <span class="centered"><h1>Sign Up</h1></span>

    <form action="#" method="post">
      <div class="form-group">
        <label for="name">Name:</label><br />
        <input id="name" class="form-control" name="name" type="text"
               placeholder="Enter name"
               value="<%= name_value %>"
               onkeydown="focusOn('email');"/>
      </div>

      <div class="form-group">
        <label for="email">Email:</label><br />
        <input id="email" class="form-control" name="email" type="text"
               placeholder="Enter email"
               value="<%= email_value %>"
               onkeydown="focusOn('password');"/>
      </div>

      <div class="form-group">
        <label for="password">Password:</label><br />
        <input id="password" class="form-control" name="password" type="password"
               placeholder="Enter Password"
               onkeydown="focusOn('password_confirmation');"/>
      </div>

      <div class="form-group">
        <label for="password_confirmation">Password Confirmation:</label><br />
        <input id="password_confirmation" class="form-control" type="password"
               name="password_confirmation"
               placeholder="Enter Password"
               onkeydown="focusOn('submit');"/>
      </div>

      <button id="submit" type="submit" class="btn btn-primary">Submit</button>
    </form>

    <br />
    Already have account? <a href="/login">Log in</a>
  </div>

  <div id="signup-errors-container" class="errors-container">
    <% @user.errors.each do |error| %>
      <% error.each do |message| %>
        <div class="alert alert-danger"><%= message %></div>
      <% end %>
    <% end %>
  </div>
</div>

<% # TODO refactor  %>
<%= users_js_script %>
