<div id="user-container">

  <div id=contacts>
    <div id="recent">
      <span class="centered"><h4>Recent</h4></span>
    </div>

    <div id="friends">
      <span class="centered"><h4>Friends</h4></span>
    </div>

    <div id="search">
      <div class="centered contacts-header"><b>Search</b></div>
      <div id="search-input">
        <select class="form-control" id="search-type">
          <option>By email</option>
          <option>By name</option>
        </select>
        <input class="form-control" id="search-query" name="search_query" type="text" placeholder="Enter search query">
      </div>
      <div id="search-result">
        <div class="centered">
          Search results:
        </div>
        <div class="found-user">
          <div class="user-attribute"><b>Name:</b></div>
          <div class="user-attribute-value">User01</div>
          <div class="user-attribute"><b>Email:</b></div>
          <div class="user-attribute-value">user01@email.com</div>
          <button class="btn btn-default" type="button" name="button" onclick="clickStartDialog();">
            Start Dialog
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="conversations">
    <div class="centered"><b>Conversations</b></div>

    <ul id="conversations-tabs" class="nav nav-tabs">
      <li class="conversation-tab"><a data-toggle="tab" href="#first">Menu 1</a></li>
      <li class="conversation-tab"><a data-toggle="tab" href="#second">Menu 2</a></li>
      <li class="conversation-tab"><a data-toggle="tab" href="#third">Menu 3</a></li>
    </ul>

    <div id="conversations-tab-content" class="tab-content">
      <div id="first" class="tab-pane fade">
        <div class="conversations-messages">

        </div>

        <!-- <div id="message-input"> ... </div>-->
      </div>

      <div id="second" class="tab-pane fade conversations-messages">
        <h2>Second</h2>
      </div>

      <div id="third" class="tab-pane fade conversations-messages">
        <h3>Third</h3>
      </div>
    </div>

  </div>

  <div id="notifications">
    <span class="centered"><h3>Notifications</h3></span>
  </div>
</div>


<% # TODO refactor  %>
<%= users_js_script %>
