<div id="user-container" class="std-container">
  <div id="user-info-container">
    <span class="centered"><h2>User Info</h2></span>

    <ul class="list-group">
      <li class="list-group-item">
        <div class="user-attribute"><b>Id:</b></div>
        <div class="user-attribute-value"><%= @user.id %></div>
      </li>

      <li class="list-group-item">
        <div class="user-attribute"><b>Name:</b></div>
        <div class="user-attribute-value"><%= @user.name %></div>
      </li>

      <li class="list-group-item">
        <div class="user-attribute"><b>Description:</b></div>
        <div class="user-attribute-value"><%= @user.email %></div>
      </li>

      <li class="list-group-item">
        <div class="user-attribute"><b>Password:</b></div>
        <div class="user-attribute-value"><%= @user.password %></div>
      </li>
    </ul>
    
  </div>
</div>
