<div id="user-container">
  <div id="recent">
    <span class="centered"><h3>Recent</h3></span>
  </div>

  <div id="friends">
    <span class="centered"><h3>Friends</h3></span>
  </div>

  <div id="conversations">
    <div id="conversations-tabs">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#first_conversation">First</a></li>
        <li><a data-toggle="tab" href="#second_conversation">Second</a></li>
        <li><a data-toggle="tab" href="#second_conversation">Second</a></li>
        <li><a data-toggle="tab" href="#second_conversation">Second</a></li>
      </ul>
    </div>

    <div class="tab-content">
      <div id="first_conversation" class="tab-pane fade in active">
        <div class="messages">
          <div class="sent-message alert alert-warning">
            Hello
          </div>
          <div class="received-message alert alert-info">
            Hi!
          </div>
        </div>

        <div id="message-input">
          <div id="message-destruction-input">
            <label for="destruction-type">Destruction type:</label><br />
            <select id="destruction-type" class="form-control" name="destruction_type"
                    onchange="changeDestructionConditionLabel(this);">
              <option>Visits remaining</option>
              <option>Time remaining</option>
            </select>

            <label for="destruction-condition">Destruct after: (visits)</label><br />
            <input id="destruction-condition" class="form-control" name="destruction_condition"/>
          </div>

          <div id="message-text-input">
            <label for="message-text">
              Message text:
              <span class="message-text-input-tip"
                    title="`Enter` - publish message&#010;`Shift+Enter` - new line">?<span>
            </label><br />
            <!-- class="form-control" before id="message-text" !!! -->
            <textarea class="form-control" id="message-text"
                      onkeydown="keydownMessageText(this, event);"></textarea>
          </div>
        </div>

      </div>

      <div id="second_conversation" class="tab-pane fade">
        <div class="messages">
          Second conversation
        </div>

        <div id="message-input">
          <div id="message-destruction-input">
            <label for="destruction-type">Destruction type:</label><br />
            <select id="destruction-type" class="form-control" name="destruction_type"
                    onchange="changeDestructionConditionLabel(this);">
              <option>Visits remaining</option>
              <option>Time remaining</option>
            </select>

            <label for="destruction-condition">Destruct after: (visits)</label><br />
            <input id="destruction-condition" class="form-control" name="destruction_condition"/>
          </div>

          <div id="message-text-input">
            <label for="message-text">
              Message text:
              <span class="message-text-input-tip"
                    title="`Enter` - publish message&#010;`Shift+Enter` - new line">?<span>
            </label><br />

            <!-- class="form-control" before id="message-text" !!! -->
            <textarea class="form-control" id="message-text"
                      onkeydown="keydownMessageText(this, event);"></textarea>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="notifications">
    <span class="centered"><h3>Notifications</h3></span>
  </div>
</div>


<% # TODO refactor  %>
<%= users_js_script %>
